<div class="container" style="margin-top: 80px;margin-bottom: 80px;">
    <div class="card">
        
            <div class=" cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Manage Categories</b></h4>
                        </div>
                        <!--<div class="col align-self-center text-right text-muted">3 items</div>-->
                        <div class="col align-self-center text-right text-muted"><button class="btn btn-dark">
                                ADD</button></div>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf='!isdeleted'  >
                    Unable to Delete : Category in use
                  </div>
                <div class="row border-top border-bottom" >
                    <div class="row main align-items-center">
                        <div class="col"><div class="row  fw-bold">Category Position</div>
                        </div>
                        <div class="col-2"><div class="row  fw-bold">Category Image</div>
                        </div>
                        <div class="col">
                            <div class="row fw-bold">Category Details</div>
                           
                            
                        </div>
                        
                        <div class="col "> </div>
                        <div class="col">  </div>
                        
                            
                    </div>
                </div>
                
                <div class="row border-top border-bottom" *ngFor="let cat of categories">
                    <div class="row main align-items-center">
                        <div class="col" id="positionchange">
                            <div class="row " *ngIf='!(cat.categoryPosition==1)'><button  (click)="moveCategoryup(cat)" class="btn btn-dark"  style="width:60px;">&uarr;</button></div>
                            <div class="row fw-bold mt-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cat.categoryPosition}}</div>
                            
                            
                            <div class="row" *ngIf='!(cat.categoryPosition==categories.length)'><button (click)="moveCategorydown(cat)" class="btn btn-dark"  style="width:60px;">&darr;</button></div>
                            
                            
                        
                        </div>
                        <div class="col-2"><img class="img-fluid " style="width:150px"
                                src={{cat.categoryImg}}>
                        </div>
                        <div class="col">
                            <div class="row fw-bold">{{cat.categoryName}}</div>
                            <div class="row">{{cat.categoryDesc}}</div>
                            
                        </div>
                        
                        <div class="col "><button (click)="deleteCategory(cat)"class="btn btn-dark" style="margin-bottom: 40px;">DELETE</button>
                           </div>
                           <div class="col"><button class="btn btn-dark" style="margin-bottom: 40px;">EDIT</button>
                           </div>
                           
                            
                    </div>
                </div>
                
                
              
            
        
    </div>
    

</div>

