
<div class="album py-5 bg-light mt-5">
    <div class="container ">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col" *ngFor="let book of bookList">
          <div class="card shadow-sm" >
           
            <img class="bd-placeholder-img card-img-top" width="100%" height="225"  src="{{book.bookImage}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{book.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="nav-link" routerLinkActive="active" routerLink="/book-details/{{book.bookId}}"><button type="button" class="btn btn-sm btn-outline-secondary" >View</button></a>
                  <button type="button" class="btn btn-sm btn-outline-secondary" >Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
          
      </div>
    </div>
  </div>


  <!--
        <div class="card" style="width: 18rem;"  *ngFor="let book of bookList">
          <img src="{{book.bookImage}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{book.bookImage}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    
  -->