<div class="container" style="margin-top: 80px;margin-bottom: 80px;">
    <div class="card">
        
            <div class=" cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Manage Discounts</b></h4>
                        </div>
                        <!--<div class="col align-self-center text-right text-muted">3 items</div>-->
                        <div class="col align-self-center text-right text-muted"><button class="btn btn-dark">
                                ADD</button></div>
                    </div>
                </div>
                <div class="row border-top border-bottom" >
                    <div class="row main align-items-center">
                        
                        
                        <div class="col ">
                            <div class=" fw-bold"> Coupon Code</div>
                            
                        </div>
                        <div class="col ">
                            <div class=" fw-bold"> Minimum Purchase</div>
                            
                        </div>
                        <div class="col ">
                            <div class=" fw-bold"> Discount Percent</div>
                            
                        </div>
                        <div class="col ">
                           </div>
                           <div class="col"></div>
                            
                    </div>
                
                <div class="row border-top border-bottom" *ngFor="let dis of discounts">
                    <div class="row main align-items-center">
                        
                        
                        <div class="col ">
                            <div > {{dis.couponCode}}</div>
                            
                        </div>
                        <div class="col ">
                            <div > {{dis.minPurchase}}</div>
                            
                        </div>
                        <div class="col ">
                            <div > {{dis.disPercent}}</div>
                            
                        </div>
                        
                        <div class="col "><button class="btn btn-dark w-2" style="margin-bottom: 40px;">DELETE</button>
                           </div>
                           <div class="col"><button class="btn btn-dark w-2" style="margin-bottom: 40px;" >EDIT</button>
                           </div>
                            
                    </div>
                </div>
                
              
            
        
    </div>

</div>


