<div class="container" style="margin-top: 80px;margin-bottom: 80px;">
    <div class="card">
        
            <div class=" cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Manage Books</b></h4>
                        </div>
                        <!--<div class="col align-self-center text-right text-muted">3 items</div>-->
                        <div class="col align-self-center text-right text-muted"><button class="btn btn-dark" (click)="handleaddmodalopen()"data-bs-toggle="modal"  data-bs-target="#addBookModal">
                                ADD</button></div>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf='!isdeleted'  >
                    Unable to Delete : Book in use
                  </div>
                <div class="row border-top border-bottom" >
                    <div class="row main align-items-center">
                        <div class="col"><div class="row  fw-bold">Book Position</div>
                        </div>
                        <div class="col-2"><div class="row  fw-bold">  Book Image</div>
                        </div>
                        <div class="col">
                            <div class="row  fw-bold">Title </div>
                            
                        </div>
                        <div class="col">
                            <div class="row  fw-bold">Author </div>
                            
                        </div>
                        <div class="col"><div class="row  fw-bold">Price</div></div>
                        <div class="col"> </div>
                           <div class="col"> </div>
                           <div class="col"> </div>
                            
                    </div>
                </div>

                <div class="row border-top border-bottom" *ngFor="let book of books">
                    <div class="row main align-items-center">
                        <div class="col" id="positionchange">
                            <div class="row " *ngIf='!(book.bookPosition==1)'><button (click)="moveBookup(book)" class="btn btn-dark"  style="width:60px;">&uarr;</button></div>
                            <div class="row fw-bold mt-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{book.bookPosition}}</div>
                            
                            
                            <div class="row" *ngIf='!(book.bookPosition==books.length)'><button (click)="moveBookdown(book)" class="btn btn-dark"  style="width:60px;">&darr;</button></div>
                            
                            
                        
                        </div>
                        
                        <div class="col-2"><img class="img-fluid " style="width:150px"
                                src={{book.bookImage}}>
                        </div>
                        <div class="col">
                            <div class="row text-muted fw-bold">{{book.title}}</div>
                        </div>
                        <div class="col">
                            <div class="row">{{book.author}}</div>
                        </div>
                        <div class="col">&#8377; {{book.bookPrice}} </div>
                        <div class="col"><button (click)="deleteBook(book)"class="btn btn-dark" style="margin-bottom: 40px;">DELETE</button>
                           </div>
                           <div class="col"><button class="btn btn-dark" style="margin-bottom: 40px;" (click)="handleupdatemodalopen(book)"data-bs-toggle="modal"  data-bs-target="#editBookModal" >EDIT</button>
                           </div>
                           <div class="col ">
                            <div *ngIf="book.bookStatus"><button  class="btn btn-danger w-2" style="margin-bottom: 40px;" (click)="handlestatusEdit(book)">Deactivate</button>
                            </div>
                            <div *ngIf="!book.bookStatus"><button  class="btn btn-success w-2" style="margin-bottom: 40px;" (click)="handlestatusEdit(book)" >Activate</button>
                           </div>
                            </div>
                            
                    </div>
                </div>
                
              
            
        
    </div>


    <!-- Add Modal -->
    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate (ngSubmit)="handlebookadd()" >
            <div class="form-group row mb-3">
              <label for="bookname" class="col-sm-5 col-form-label" >Title</label>
              <div class="col-sm-7">
                <input id="bookname" type="text" class="form-control" value={{dupbook.title}} [(ngModel)]="dupbook.title" name="bookname" required>
              </div>
            </div>
            <div class="form-group row mb-3">
            <label for="author" class="col-sm-5 col-form-label" >Author</label>
              <div class="col-sm-7">
                <input id="author" type="text" class="form-control" value={{dupbook.author}} [(ngModel)]="dupbook.author" name="author" required>
              </div>
            </div>
            <div class="form-group row mb-3">
                <label for="bookdesc" class="col-sm-5 col-form-label">Description</label>
                <div class="col-sm-7">
                  <textarea id="bookdesc" class="form-control" value={{dupbook.bookDescription}} [(ngModel)]="dupbook.bookDescription" name="bookdesc" required></textarea>
                </div>
              </div>
            <div class="form-group row mb-3">
                <label for="isbn" class="col-sm-5 col-form-label" >ISBN</label>
                <div class="col-sm-7">
                  <input id="isbn" type="number" class="form-control" value={{dupbook.ISBN}} [(ngModel)]="dupbook.ISBN" name="isbn" required>
                </div>
              </div>

              <div class="form-group row mb-3">
                <label for="year" class="col-sm-5 col-form-label" >Year of Publishing</label>
                <div class="col-sm-7">
                  <input id="year" type="number" class="form-control" value={{dupbook.year}}  [(ngModel)]="dupbook.year" name="year" required>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label for="price" class="col-sm-5 col-form-label" >Price</label>
                <div class="col-sm-7">
                  <input id="price" type="number" class="form-control" value={{dupbook.bookPrice}} [(ngModel)]="dupbook.bookPrice" name="price" required>
                </div>
              </div>

              <div class="form-group row mb-3">
                <label for="qty" class="col-sm-5 col-form-label" >Available Qty.</label>
                <div class="col-sm-7">
                  <input id="qty" type="number" class="form-control" [(ngModel)]="dupbook.availableQty" value={{dupbook.availableQty}}  name="qty" required>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label for="pos" class="col-sm-5 col-form-label" >Position</label>
                <div class="col-sm-7">
                  <input id="pos" type="number" class="form-control" value={{dupbook.bookPosition}} [(ngModel)]="dupbook.bookPosition"  name="pos" required>
                </div>
              </div>
            
              <div class="form-group row mb-3">
                <label for="qty" class="col-sm-5 col-form-label" >Category</label>
                <div class="col-sm-7">
           
                    <select name="categories" (change)="setcatid($event)" >
                
                <option [selected]="cat.categoryId==dupbook.categoryId" *ngFor="let cat of categories" [value]=cat.categoryId>{{cat.categoryName}}</option>
                </select>
                
            
            </div>
            </div>
            <div class="form-group row mb-3">
              <label for="img" class="col-sm-5 col-form-label" >Image Link</label>
              <div class="col-sm-7">
                <input id="img" type="text" class="form-control" [(ngModel)]="dupbook.bookImage" value={{dupbook.bookImage}}  name="img" required>
              </div>
          </div>
            
            <div class="alert alert-success" *ngIf='addSaved'>
              Added successfully!
            </div>
            <div class="alert alert-danger" *ngIf='!addSaved&&!firstmodal' >
              Unable to Add!
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Book</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    

    <!-- Update Modal -->
    <div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate (ngSubmit)="handlebookupdate()" >
            <div class="form-group row mb-3">
              <label for="bookname" class="col-sm-5 col-form-label" >Title</label>
              <div class="col-sm-7">
                <input id="bookname" type="text" class="form-control" value={{dupbook.title}} [(ngModel)]="dupbook.title" name="bookname" required>
              </div>
            </div>
            <div class="form-group row mb-3">
            <label for="author" class="col-sm-5 col-form-label" >Author</label>
              <div class="col-sm-7">
                <input id="author" type="text" class="form-control" value={{dupbook.author}} [(ngModel)]="dupbook.author" name="author" required>
              </div>
            </div>
            <div class="form-group row mb-3">
                <label for="bookdesc" class="col-sm-5 col-form-label">Description</label>
                <div class="col-sm-7">
                  <textarea id="bookdesc" class="form-control" value={{dupbook.bookDescription}} [(ngModel)]="dupbook.bookDescription" name="bookdesc" required></textarea>
                </div>
              </div>
            <div class="form-group row mb-3">
                <label for="isbn" class="col-sm-5 col-form-label" >ISBN</label>
                <div class="col-sm-7">
                  <input id="isbn" type="number" class="form-control" value={{dupbook.ISBN}} [(ngModel)]="dupbook.ISBN" name="isbn" required>
                </div>
              </div>

              <div class="form-group row mb-3">
                <label for="year" class="col-sm-5 col-form-label" >Year of Publishing</label>
                <div class="col-sm-7">
                  <input id="year" type="number" class="form-control" value={{dupbook.year}}  [(ngModel)]="dupbook.year" name="year" required>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label for="price" class="col-sm-5 col-form-label" >Price</label>
                <div class="col-sm-7">
                  <input id="price" type="number" class="form-control" value={{dupbook.bookPrice}} [(ngModel)]="dupbook.bookPrice" name="price" required>
                </div>
              </div>

              <div class="form-group row mb-3">
                <label for="qty" class="col-sm-5 col-form-label" >Available Qty.</label>
                <div class="col-sm-7">
                  <input id="qty" type="number" class="form-control" [(ngModel)]="dupbook.availableQty" value={{dupbook.availableQty}}  name="qty" required>
                </div>
              </div>
            
              <div class="form-group row mb-3">
                <label for="qty" class="col-sm-5 col-form-label" >Category</label>
                <div class="col-sm-7">
           
                    <select name="categories" (change)="setcatid($event)" >
                
                <option [selected]="cat.categoryId==dupbook.categoryId" *ngFor="let cat of categories" [value]=cat.categoryId>{{cat.categoryName}}</option>
                </select>
                
            
            </div>
            </div>
            <div class="form-group row mb-3">
              <label for="img" class="col-sm-5 col-form-label" >Image Link</label>
              <div class="col-sm-7">
                <input id="img" type="text" class="form-control" [(ngModel)]="dupbook.bookImage" value={{dupbook.bookImage}}  name="img" required>
              </div>
          </div>
            
            <div class="alert alert-success" *ngIf='updateSaved'>
              Updated successfully!
            </div>
            <div class="alert alert-danger" *ngIf='!updateSaved&&!firstmodal' >
              Unable to Update!
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
    


  

</div>
