<div class="container" style="margin-top: 80px;margin-bottom: 80px;">
    <div class="card">
        
            <div class=" cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>Manage Books</b></h4>
                        </div>
                        <!--<div class="col align-self-center text-right text-muted">3 items</div>-->
                        <div class="col align-self-center text-right text-muted"><button class="btn btn-dark">
                                ADD</button></div>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf='!isdeleted'  >
                    Unable to Delete : Book in use
                  </div>
                <div class="row border-top border-bottom" >
                    <div class="row main align-items-center">
                        <div class="col"><div class="row  fw-bold">Book Position</div>
                        </div>
                        <div class="col-2"><div class="row  fw-bold">  Book Image</div>
                        </div>
                        <div class="col">
                            <div class="row  fw-bold">Title </div>
                            
                        </div>
                        <div class="col">
                            <div class="row  fw-bold">Author </div>
                            
                        </div>
                        <div class="col"><div class="row  fw-bold">Price</div></div>
                        <div class="col"> </div>
                           <div class="col"> </div>
                            
                    </div>
                </div>

                <div class="row border-top border-bottom" *ngFor="let book of books">
                    <div class="row main align-items-center">
                        <div class="col" id="positionchange">
                            <div class="row " *ngIf='!(book.bookPosition==1)'><button (click)="moveBookup(book)" class="btn btn-dark"  style="width:60px;">&uarr;</button></div>
                            <div class="row fw-bold mt-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{book.bookPosition}}</div>
                            
                            
                            <div class="row" *ngIf='!(book.bookPosition==books.length)'><button (click)="moveBookdown(book)" class="btn btn-dark"  style="width:60px;">&darr;</button></div>
                            
                            
                        
                        </div>
                        
                        <div class="col-2"><img class="img-fluid " style="width:150px"
                                src={{book.bookImage}}>
                        </div>
                        <div class="col">
                            <div class="row text-muted fw-bold">{{book.title}}</div>
                        </div>
                        <div class="col">
                            <div class="row">{{book.author}}</div>
                        </div>
                        <div class="col">&#8377; {{book.bookPrice}} </div>
                        <div class="col"><button (click)="deleteBook(book)"class="btn btn-dark" style="margin-bottom: 40px;">DELETE</button>
                           </div>
                           <div class="col"><button class="btn btn-dark" style="margin-bottom: 40px;">EDIT</button>
                           </div>
                            
                    </div>
                </div>
                
              
            
        
    </div>
    <div class="alert alert-danger" *ngIf='!isdeleted'  >
        Unable to Delete : Book in use
      </div>

</div>
