.herobutton{
    border: solid;
    border-radius: 5px;
    border-color: white;
    color: black;
    background-color: white;
    width: 200px;
    font-style: italic;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}