<div class="container mt-5">
    <main>
      <div class="py-5 text-center">
        
        <h2>Checkout</h2>
        <p class="lead">Please enter the following details</p>
      </div>  
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-dark">Available discount coupons</span>
            <span class="badge bg-dark rounded-pill">{{disCouponsCnt}}</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let discount of discounts">
              <div >
                <h6 class="my-0">{{discount.couponCode}}</h6>
               
              </div>
              <span class="text-muted">{{discount.disPercent}}%</span>
            </li>
            
            
            <li class="list-group-item d-flex justify-content-between">
              <span>Total Amount</span>
              <strong>{{discountedprice}}</strong>
            </li>
          </ul>
  
          <form class="card p-2" [formGroup]="couponRedeemForm" (ngSubmit)="handleCoupon()">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Coupon code" formControlName="couponCode">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
            
          </form>
          <div class="alert alert-danger" *ngIf="!validcoupon">
            Invalid Coupon Code!
          </div>
        </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" novalidate=""   >
            <div class="row g-3">
              <div class="col-sm-6" >
                <label for="address" class="form-label">Shipping Address</label><br>
                <textarea name="" id="address"  cols="100" rows="7" value={{userAddress}} [(ngModel)]="userAddress" name="address"></textarea>
              </div>    
            </div>
            <button class="btn btn-dark btn-lg" (click)="handleUpdateUser()"type="submit">Update</button>
          </form>  
          <div class="alert alert-success mt-2" *ngIf="addressupdated">
            Address Updated!
          </div>         
  
            <hr class="my-4">
  
            <h4 class="mb-3">Payment Details</h4>
          <form class="needs-validation" novalidate=""  (ngSubmit)="handleCheckout()">
            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                <label class="form-check-label" for="credit">Credit card</label>
              </div>
              <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="debit">Debit card</label>
              </div>
              <div class="form-check">
                <input  id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="paypal">PayPal</label>
              </div>
            </div>
  
            <div class="row gy-3">
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
  
              <div class="col-md-6">
                <label for="cc-number" class="form-label">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-expiration" class="form-label">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
  
            <hr class="my-4">
           
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-address">
              <label class="form-check-label" for="same-address">Accept terms and conditions</label>
            </div>
            
            <button class="w-100 btn btn-dark btn-lg" type="submit" (click)="handleCheckout()">Continue to checkout</button>
            
          </form>
          <div class="alert alert-danger mt-2" *ngIf="!orderplaced">
            Unable to Place Order!Books no longer available.
          </div>
        </div>
      </div>
    </main>
  
  
  </div>
  
