<div class="container" style="margin-top: 80px;margin-bottom: 80px;">
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col">
                            <h4><b>My Cart</b></h4>
                        </div>
                        <!--<div class="col align-self-center text-right text-muted">3 items</div>-->
                        <div class="col align-self-center text-right text-muted"><button class=" btn btn-lg btn-dark" routerLink = "/" type="button" >ADD</button></div>
                    </div>
                </div>
                <div *ngIf="booksPresent; else elseBlock">
                    <div class="row border-top" *ngFor="let book of bookList; index as i">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid"
                                    src="{{book.bookImage}}">
                            </div>
                            <div class="col">
                                <div class="row text-muted">{{book.title}}</div>
                                <div class="row">{{book.author}}</div>
                            </div>
                            <div class="col"> <a (click)="handleQtysub(book)">-</a><a  class="border">{{book.Qty}}</a><a (click)="handleQtyadd(book)">+</a> </div>
                            <div class="col">&#8377; {{book.bookPrice}} </div>
                            <div class="col"><button class="btn btn-dark" style="margin-bottom: 40px; "(click)="handleDelete(book)">DELETE</button></div>
                        </div>
                    </div>
                </div>

                <ng-template #elseBlock>
                    <h5 style="text-align: center;">No items found in Cart</h5>
                </ng-template>
                <div class="back-to-shop"><a style="text-decoration: none;" routerLink="">&leftarrow;Back to shop</a></div>
            </div>
            <div class="col-md-4 summary">
                <div>
                    <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div class="">
                    <div class="col" style="padding-left:2;">Items in Cart : {{cartCount}}</div><br>

                </div>
                <form>
                    <p>SHIPPING</p> <select>
                        <option class="text-muted">Standard-Delivery-&#8377;  0.00</option>
                    </select>
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&#8377; {{totalPrice}}</div>
                </div> <button class="btn btn-dark" onclick="location.href='checkout' ">MAKE PAYMENT</button>
            </div>
        </div>
    </div>

</div>