
<div class="container mt-5">
    <main>
        <div class="py-5 text-center">
        
            <h2>Order Confirmation</h2>

          </div>

          <div class="row g-5">
              <h3>Your order has been successfully placed.</h3>
              <!-- <a href="#"><button class="btn btn-dark" (click)="gotopage('view-orders')">View your Orders</button></a> -->
              <a href="#"><button class="btn btn-dark" (click)="gotopage('home')">Continue shopping</button></a>
          </div>
    </main>
</div>

