<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

	<div class="container mt-5" >
		<div class="card" style="margin-top: 100px;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 20px;"  *ngIf="bookDetails">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class=" preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img style="width: 600px;height: 500px;" class="img-fluid" src="{{bookDetails[0].bookImage}}" /></div>
						  <div class="tab-pane" id="pic-2"><img src="{{bookDetails[0].bookImage}}" /></div>
						  <div class="tab-pane" id="pic-3"><img src="{{bookDetails[0].bookImage}}" /></div>
						  <div class="tab-pane" id="pic-4"><img src="{{bookDetails[0].bookImage}}" /></div>
						  <div class="tab-pane" id="pic-5"><img src="{{bookDetails[0].bookImage}}" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
							<li class="active"><a data-target="#pic-1" data-toggle="tab"><img style="width: 100px;height: 100px;" src="{{bookDetails[0].bookImage}}" /></a></li>
							<li><a data-target="#pic-2" data-toggle="tab"><img  style="width: 100px;height: 100px;"  src="{{bookDetails[0].bookImage}}" /></a></li>
							<li><a data-target="#pic-3" data-toggle="tab"><img  style="width: 100px;height: 100px;"  src="{{bookDetails[0].bookImage}}" /></a></li>
							<li><a data-target="#pic-4" data-toggle="tab"><img  style="width: 100px;height: 100px;"  src="{{bookDetails[0].bookImage}}" /></a></li>
							<li><a data-target="#pic-5" data-toggle="tab"><img  style="width: 100px;height: 100px;"  src="{{bookDetails[0].bookImage}}" /></a></li>
						  </ul>
						  
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{bookDetails[0].title}}</h3>
						<p>{{bookDetails[0].author}}</p>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">{{bookDetails[0].bookDescription}}</p>
						<h4 class="price">Price: <span>${{bookDetails[0].bookPrice}}</span></h4>
						
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes">Type of Binding:
							<span class="size" data-toggle="tooltip" title="hard">Hard </span>
							<span class="size" data-toggle="tooltip" title="soft">Soft </span>
						</h5>
						
						<div class="action">
							<button class=" btn btn-lg btn-dark" routerLink = "/cart" type="button" (click)="handleAddToCart(bookDetails[0])">Add to cart</button>
							<button class=" btn btn-lg btn-dark" routerLink = "/wishlist" style="margin-left: 10px;" type="button" (click)="handleAddToWishlist(bookDetails[0])"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col mt-5">
				<h3>Customer Reviews</h3>
				<h5>Name 1</h5>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa laborum porro omnis veritatis est quaerat quod eos quo quae praesentium veniam, non recusandae architecto deserunt. Officia, ex. Praesentium, sunt repudiandae.</p>
				<h5>Name 2</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum eos possimus molestias laborum, ullam praesentium perspiciatis illo corrupti esse iste repudiandae iusto nobis est a facilis quae aliquam officia!</p>
				<h5>Name 3</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis molestiae blanditiis ut tempora eum assumenda quis, quos ipsam voluptas, ipsum architecto in. Pariatur ratione delectus ipsam optio reiciendis aut omnis.</p>
				<h5>Name 4</h5>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<label for="comments">Add reviews</label><br>
				<textarea name="" id="" cols="50" rows="8" placeholder="Your reviews help us to improve better"></textarea><br>
				<button class="btn btn-dark">ADD</button>
			</div>
		</div>
	</div>

